body {
    margin: 0%;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1 {
    font-size: 2cm;
    margin-top: 0%;
    padding-top: 1%;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    margin: 0%;
}
h2 {
    color: #1ec7c7;
    font-size: 2.2rem;
    font-family: 'Yusei Magic', sans-serif;
}
h3 {
    font-family: 'Merriweather', serif;
}
p {
    display: inline-block;
    margin: 0%;
    padding: 0% 0.5% 0.5% 0.5%;
    font-family: 'Merriweather', serif;
}
.TopContainer { 
    position: relative;
    padding-top: 5%;
    background-color:#c5f8ef;
    width: 100%;
    height: 33%;
    font-family: s;
}
.MiddleContainer { 
    position: relative;
    padding-top: 1%;
    background-color: #82f8e2;
    width: 100%;
    height: 33%;
}
.BottomContainer { 
    padding: 1%;
    background-color: #49f7d7;
    width: 100%;
    height: 33%;
    color: #3ea1a1;
}
#title {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 1.4rem;
    color: #66BFBF;
}
#bg-top-Cloud {
    position: absolute;
    right: 500px;
    top: 50px;
}
#bg-bottom-Cloud {
    position: absolute;
    left: 500px;
    bottom: 300px;
}
.passion-icon {
    height: 300px;
    width: 300px;
    padding: 0;
}
.con-m {
    display: inline-block;
    margin: 2px;
    height: 320px;
    width: 350px;
    padding-left: 35px;
    padding-right: 35px;
    font-weight: bold;
    color: #66BFBF;
    font-size: 1.5rem;;
    font-family: 'Dosis', sans-serif;
}
.description {
    font-size: 1rem;
}
.grid-container {
    grid-template-columns: auto auto auto;
    display: grid;
}
.img-skill {
    height: 200px;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}