body {
    margin: 0%;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1 {
    font-size: 6rem;
    margin-top: 0%;
    padding-top: 1%;
    font-family: 'Sacramento', cursive;
    font-weight: 1000;
    color: #66BFBF;
    margin: 0%;
}
h2 {
    color: #00c2c2;
    font-size: 2.2rem;
    font-family: 'Yusei Magic', sans-serif;
}
h3 {
    color: #00c2c2;
    font-size: 1.6rem;
    font-family: 'Yusei Magic', sans-serif;
}
p {
    display: inline-block;
    margin: 0%;
    padding: 0% 0.5% 0.5% 0.5%;
    font-family: 'Merriweather', serif;
}
.TopContainer { 
    position: relative;
    padding-top: 5%;
    background-color:#b4f8ec;
    width: 100%;
    height: 33%;
    font-family: s;
}
.MiddleContainer { 
    position: relative;
    padding-top: 1%;
    margin-bottom: 0px;
    border-bottom-width: 20px;
    padding-bottom: 20px;
    background-color: #82f8e2;
    width: 100%;
    height: 33%;
}
.BottomContainer { 
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #49f7d7;
    width: 100%;
    height: 33%;
    color: #3ea1a1;
}
.socialContainer {
    padding: 1%;
    background-color:#00eec2;
}
#title {
    font-family: 'Yusei Magic', sans-serif;
    font-size: 1.4rem;
    color: #66BFBF;
}
#bg-top-Cloud {
    position: absolute;
    opacity: 40%;
    height: 400px;
    width: 500px;
    right: 100px;
    top: 0;
}
#bg-bottom-Cloud {
    position: absolute;
    opacity: 40%;
    height: 300px;
    width: 500px;
    left: 400px;
    bottom: 200px;
}
#bg-mountain {
    opacity: 80%;
    height: 400px;
    width: 700px;
}
.top-container-plants {
    opacity: 50%;
    position: relative;
    bottom: 0;
    padding: 0%;
}
.plants {
    overflow: hidden;
    margin-bottom: -30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0%;
    height: 150px;
    width: 100px;
}
.plants:hover {
    width: 120px;
    height: 220px;
    transition: width 1s, height 2s;
}
.top-container-programmer {
    bottom: 0;
    padding: 0 0 60px 0;
}
.programmer {
    width: 200px;
    height: 200px;
    right: 100px;
    position: relative;
}
.passion-icon {
    height: 300px;
    width: 300px;
    padding: 0;
}
.con-m {
    display: inline-block;
    margin: 2px;
    height: 320px;
    width: 350px;
    padding-left: 35px;
    padding-right: 35px;
    font-weight: bold;
    color: #66BFBF;
    font-size: 1.5rem;;
    font-family: 'Dosis', sans-serif;
}
.description {
    font-size: 1rem;
}
#skills-grid {
    grid-template-columns: auto auto auto;
    display: grid;
}
.img-skill {
    height: 200px;
    width: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}
#social-grid {
    grid-template-columns: auto auto;
    display: grid;
}
.social-img {
    height: 800px;
    width: 800px;
}