body {
    margin: 0%;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1 {
    font-size: 500%;
    margin-top: 0%;
    padding: 0%;
    font-family: 'Sacramento', cursive;
    font-weight: 1000;
    color: #66BFBF;
    margin: 0%;
}
#title {
    font-family: 'Yusei Magic', sans-serif;
    color:#00c2c2 ;
    font-size: 150%;
}
h2 {
    color: #00c2c2;
    font-size: 2.2rem;
    font-family: 'Yusei Magic', sans-serif;
}
h3 {
    color: #00c2c2;
    font-size: 1.6rem;
    font-family: 'Yusei Magic', sans-serif;
}
p {
    display: inline-block;
    margin: 0%;
    padding: 0% 0.5% 0.5% 0.5%;
    font-family: 'Merriweather', serif;
}
.TopContainer { 
    position: relative;
    padding-top: 5%;
    background-color:#b4f8ec;
    width: 100%;
    height: 60%;
    font-family: s;
}
.MiddleContainer { 
    position: relative;
    padding-top: 1%;
    margin-bottom: 0px;
    border-bottom-width: 20px;
    padding-bottom: 20px;
    background-color: #82f8e2;
    width: 100%;
    height: 33%;
}
.BottomContainer { 
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #49f7d7;
    width: 100%;
    height: 33%;
    color: #3ea1a1;
}
.socialContainer {
    padding: 1%;
    background-color:#00eec2;
}
.passion-icon {
    height: 300px;
    width: 300px;
    padding: 0;
}
.con-m {
    display: inline-block;
    margin: 2px;
    height: 320px;
    width: 350px;
    padding-left: 35px;
    padding-right: 35px;
    font-weight: bold;
    color: #66BFBF;
    font-size: 1.5rem;;
    font-family: 'Dosis', sans-serif;
}
.description {
    font-size: 1rem;
}
#skills-grid {
    grid-template-columns: auto auto auto;
    display: grid;
}
.img-skill {
    height: 60%;
    width: 60%;
    padding-top: 1.3%;
    padding-bottom: 1.3%;
    padding-left: 0%;
    margin: 0;
}
.social-img {
    height:30px;
    width: 30px;
    padding: 0 10px 0 10px;
}
.social-img:hover {
    opacity: 50%;
    animation: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.footer-contact {
    font-family: 'Merriweather', serif;
    font-size: medium;
    margin-top: 0%;
    padding-top: 20px;
    padding-bottom: 5px;
}
.footer {
    padding: 0%;
    margin: 0%;
    border: 0%;
    background-color: rgb(8, 107, 74);
}